<div class="search">
  <form class="search-form" id="search-form">
	  <input  type="search" name="q" id="tipue_search_input" class="search-form-input" autocomplete="off" required placeholder="<%= __('search') %>" />
  </form>
</div>
