<a href="<%- url_for(post.path) %>" class="<%= class_name %>">
  <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, date_format) %></time>
</a>
<span id="busuanzi_container_page_pv"> - 本文总阅读量<span id="busuanzi_value_page_pv"></span>次</span>