<% if (config.disqus_shortname){ %>
<script>
  var disqus_shortname = '<%= config.disqus_shortname %>';
  <% if (page.permalink){ %>
  var disqus_url = '<%= page.permalink %>';
  <% } %>
  (function(){
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments) { %>embed.js<% } else { %>count.js<% } %>';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<% } %>

<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<% if (theme.fancybox){ %>
  <%- js('fancybox/jquery.fancybox.pack') %>
<% } %>

<% if (theme.scrollLoading){ %>
  <%- js('scrollLoading/jquery.scrollLoading') %>
  <%- js('scrollLoading/main') %>
<% } %>

<%- js('js/html-patch') %>
<%- js('js/script') %>

<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<link href="/tipuesearch/tipuesearch.css" rel="stylesheet">
<script src="/tipuesearch/tipuesearch_set.js"></script>
<script src="/tipuesearch/tipuesearch.js"></script>
<!-- Other code may be here -->
<script>
    $(document).ready(function () {

        var searchInput = $('#tipue_search_input');
        searchInput.tipuesearch({
            'mode': 'json',
            'minimumLength': 2,
            'contentLocation': '/tipuesearch/tipuesearch_content.json',
            highlightEveryTerm: true
        });

        $('#search-form').on('submit', function (e) {
            e.preventDefault();
            $('#tipue_search_content').show();
            $('.none-tipue-container').hide();
        });

        searchInput.keyup(function () {
            var length = $(this).val().length;
            if (length < 1) {
                $('#tipue_search_content').hide();
                $('.none-tipue-container').show();
            }
        });
    });
</script>